<div class="container" id="home-page">

    <div class="row">
        <div class="col-12">
        <nav>
            <ul >
            <li><a routerLink="">Accueil</a></li>
            <li><a routerLink="page1">Page 1</a></li>
            <li><a routerLink="page2">Page 2</a></li>
            <li><a routerLink="page3">Page 3</a></li>
            </ul>
        </nav>
        </div>
    </div>
    
    <!-- <div class="row">
        <div class="col-12">
            <app-image></app-image>
        </div>
    </div> --> 

    <router-outlet></router-outlet> 
</div>

